* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../font/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../font/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../font/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../font/Gilroy-Regular.ttf");
}

body {
  font-family: "Gilroy-Bold", sans-serif;
  scroll-behavior: smooth;
}

/* .container {
  max-width: 1170px;
  margin: 0 auto;
} */

.top {}

.top-header {
  max-width: 1170px;
  max-height: 40px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.top_head_logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 14px;
}

.top-header-logo {
  /* float: left; */
  /* margin-right: 14px; */
  /* padding: 40px 0 0 0; */
}

.top-header-name {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* float: left; */
  /* padding: 45px 0 0 0; */
}

.top-header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.top-header-menu {
  width: 553px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* float: left; */
  /* padding: 51px 0 0 0; */
}

.top-header-menu-item {}

.top-header-menu-link {
  color: #000;
  font-family: "Gilroy-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin-left: 30px; */
}

.colortext {
  color: #F25822;
}

.font-semibold {
  font-family: "Gilroy-SemiBold";
}

.top-header-menu-btn {
  flex-shrink: 0;
  border-radius: 30px;
  background: #F25822;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 34px;
  /* margin-top: 40px; */
  padding: 12px 27px 13px 27px;
  border: none;
  cursor: pointer;
}

.features {
  display: none;
  position: absolute;
  list-style: none;
}

.features a {
  color: #614444;
  font-family: "Gilroy-Medium";
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  text-decoration: underline;
}

/* отображаем выпадающий список при наведении */
.top-header-menu-item:hover>.features {
  display: inherit;
}

/* первый уровень выпадающего списка */
/* nav ul ul li {
  min-width: 170px;
  float: none;
  display: list-item;
  position: relative;
} */


.top-content {
  padding: 83px 0 162px 0;
  max-width: 1193px;
  margin: 0 auto;
  display: flex;
  gap: 41px;
  flex-direction: row;
  flex-wrap: wrap;
}

.top_content_left {
  max-width: 522px;

}

.top-content-text {
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* max-width: 522px; */
  /* float: left; */
  margin: 60px 0 17px 0;
}

.top-content-paragraf {
  color: #888;
  font-family: "Gilroy-Medium";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 466px;
  max-height: 48px;
}

.top-content-media {
  padding: 37px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-content-media-btn {
  flex-shrink: 0;
  border-radius: 50px;
  background: #F25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  margin: 0 27px 0 0;
  /* float: left; */
  padding: 15px 36px 16px 35px;
  cursor: pointer;
}

.top-content-media-video {
  margin: 0 15px 0 0;
  /* float: left; */
}

.top-content-media-text {
  color: #AAA;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin: 15px 0 0 213px; */
}

.top-content-photo {
  max-height: 375px;
  /* float: left; */
  /* margin: 0px 0 -72px 0; */
}

.top-footer-nav {
  padding: 97px 0 96px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.top-footer-logo {
  display: flex;
  list-style: none;
  justify-content: space-between;
  /* gap: 48px; */
  flex-direction: row;
  flex-wrap: wrap;
}

.top-footer-item {}

.top-footer-item-link {}


/* =====featur===== */
.middle {}

.featur {
  max-width: 1200px;
  margin: 100px auto;
  width: 100%;
  /* outline: 2px solid red; */
  display: flex;
  gap: 61px;
  flex-wrap: wrap;
}

:root {
  --mw: 336px
}

.feat_card {
  margin: 40px 0;
  /* border: 1px solid blue; */
  max-width: var(--mw);
}

.feat_card img {}

.feat_card h3 {
  margin: 25px 0 18px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}



.feat_card p {
  margin: 0 0 25px 0;
  color: rgb(102, 102, 102);
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  /* max-width: 300px; */
}

.feat_card a {
  color: #000;
}

.feat_big_card {
  padding: 40px 34px;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  /* border: 1px solid blue; */
  max-width: var(--mw);
}

.feat_big_card h3 {
  margin: 25px 0 18px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.feat_big_card p {
  margin: 0 0 25px 0;
  color: rgb(102, 102, 102);
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  /* max-width: 300px; */
}

.feat_big_card a {
  color: #000;
}

.feat_big_card a:hover {
  color: #4766af;
}

.feat_card a:hover {
  color: #4766af;
}

.feat_card:hover {
  box-shadow: 15px 25px 56px 6px rgba(123, 9, 109, 0.566);
}


/* ======service====== */
.service {
  background: #FAFAFA;

}

.serv {
  max-width: 1174px;
  margin: 0 auto;
  padding: 100px 0;
  width: 100%;
  /* outline: 2px solid red; */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
}

.serv_cont {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0 0 48px 0;
  justify-content: center;
}

.serv_title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

.serv_text {
  text-align: center;
  color: rgb(136, 136, 136);
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  max-width: 740px;
  /* text-align: center; */
}

.serv_items {
  /* outline: 2px solid rgb(8, 234, 57); */
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.serv_card {
  /* outline: 2px solid rgb(63, 7, 104); */
  background: #FFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.serv_card_shadow {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.259);
}

.serv_card:hover {
  box-shadow: 15px 25px 56px 6px rgba(114, 24, 86, 0.259);
}


.serv_card img {}

.serv_card h3 {
  margin: 32px 0 16px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  /* text-align: center; */
}

.serv_card p {
  color: rgb(102, 102, 102);
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  margin: 0 0 24px 0;
}

.serv_card button {
  border-radius: 56px;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  background: rgb(242, 88, 34);
  padding: 16px 32px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin: 0 0 50px 0;
}

.btn:hover {
  opacity: 0.7;
}